# Assignment 6 (Pandas and a small project)

Due date: Dec. 1st, 2020, 11:59pm

In [9]:
import numpy as np
import pandas as pd

# Question 1: pandas

__(Instruction)__ The purpose of this question is to practice using Pandas module 
* We did the problems in this homework before in Assignment #3 using loops and conditions. In assignment #6, please use functions in Pandas. No 'for' or 'while' loops and 'if' conditions are allowed.

#### 90 points

### (a) read the csv file named 'earthquake.csv' under the same current folder, and assign the data to a variable named 'eq'
(5 points)

In [3]:
#Enter your codes here

### (b) Calculate the average magnitude of earthquakes in this catalog
(10 points)

In [3]:
#Enter your codes here

### (c) Calculate the average depth of the earthquakes whose magnitude is larger than 2.0
(10 points)

In [7]:
#Enter your codes here

45.59810606060604

### (d) Find the maximum depth of the earthquakes
(10 points)

In [8]:
#Enter your codes here

573.9

### (e) In which region(s) does the largest earthquake(s) happen?
(15 points)

In [13]:
#Enter your codes here

                    Region
562  MINDANAO, PHILIPPINES

### (f) In which region(s) and at what year, month, day and time do the deepest earthquake(s) happen?
(20 points)

In [17]:
#Enter your codes here

    Year  Month  Day  Time UTC      Region
25  2019      2   10  22:54:37  FLORES SEA

### (g) How many earthquakes happend in HAWAII
- hint: use the value_counts() function in pandas and combine it with 'loc' function
(20 points)

# Question 2
90 points

In [18]:
import pandas as pd
import numpy as np
le=pd.read_csv('./Large_Eq.csv')
le['LonT']=np.select([(le.Lon>0),(le.Lon<0)],[round(le.Lon).astype(int),round(le.Lon+360.0).astype(int)])
le['LatT']=round(le.Lat).astype(int)
le

,Year,Month,Day,Time UTC,Mag,Lat,Lon,Depth km,Region,IRIS ID,Timestamp,LonT,LatT
0,2019,4,1,0.421806,5.2,33.5771,45.8180,10.0,IRAN-IRAQ BORDER REGION,11021006,1554113244,46,34
1,2019,4,1,0.341343,5.5,7.5503,94.3786,10.0,"NICOBAR ISLANDS, INDIA REGION",11020989,1554106292,94,8
2,2019,4,1,0.244896,5.2,7.5330,94.3784,10.0,"NICOBAR ISLANDS, INDIA REGION",11020962,1554097959,94,8
3,2019,4,1,0.173079,5.0,7.4768,94.2256,10.0,"NICOBAR ISLANDS, INDIA REGION",11020944,1554091754,94,7
4,2019,4,1,0.151470,5.0,7.5409,94.1708,10.0,"NICOBAR ISLANDS, INDIA REGION",11020930,1554089887,94,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...
24995,2007,2,17,0.387905,5.3,-7.3036,155.8563,45.8,SOLOMON ISLANDS,2454532,1171703915,156,-7
24996,2007,2,17,0.331111,5.0,-7.3720,155.8650,57.3,SOLOMON ISLANDS,2454309,1171699008,156,-7
24997,2007,2,17,0.324873,5.6,-7.2819,155.8838,28.1,SOLOMON ISLANDS,2454283,1171698469,156,-7
24998,2007,2,17,0.321933,5.7,-7.3579,155.8189,34.6,SOLOMON ISLANDS,2454247,1171698215,156,-7
24999,2007,2,17,0.167963,5.1,-3.5994,151.2621,440.0,"NEW IRELAND REGION, P.N.G.",2453760,1171684912,151,-4

In [7]:
# We will compete with each other on the timing. 
# I will give 5 extra points to the final grade to the student whose codes run fatest without mistake.

in this question, we will use all we have learned about Python to do a project about big data processing. We observe earthquakes and topography on the Earth’s surface. The goal of this project is to determine the correlation between these two, or to check if large earthquakes preferentially occur in regions with high or low topography.

There are 2 data files in this folder:
“Large-Eq.csv”: an earthquake catalog containing 25,000 events with a magnitude >5.0 since year 2007. The data structure is the same as the other earthquake catalog files we used in this class.
“topo.dat”: topography data. The 3 columns are Longitude, latitude, and elevation, respectively.

1. You will eventually make a plot showing the relationship between the number of earthquakes and the elevation, e.g., a plot in which the horizontal axis is the elevation and the vertical axis is the number of earthquakes. I provide an example figure in the example.pdf file. However, you can make any plot that you want and the details of the figure depend on your choice. The key is that people should easily find under what elevation the earthquakes happen the most by reading your plot. If you want to make histograms, you will need to study by your self through online materials.
2. Your codes should run without problem. 
3. Your codes should be readable to me. Please include as many comments as you think is necessary
4. Group discussion is encouraged. However, do not copy others’ codes. 
5. Make your code run as fast as possible. When you turn in your codes, provide information on how long it takes to run the code on your computer.
6. Grades will be based on both the correctness and the readability of the codes.


Important hints: 
1. in the earthquake catalog, the longitude ranges from -180o to 180o. The negative values indicate in the west and the positive values indicate in the east. However, in the topography data, the longitude ranges from 0o to 360o, which means 0-180 degree is in the eastern hemisphere and 180-360 degrees is in the western hemisphere. In both cases, the 0o is defined as the Zero degrees longitude which is an imaginary line known as the Prime Meridian, and you are moving eastward as the longitude increases.
2. the grid points of (longitude, latitude) in the earthquake catalog often does not match the grid points in the topography data. Therefore, you need to be creative when finding the elevation for an earthquake from the topography file, e.g., choosing the closest grid points in topo.dat, or do intepolation.