# Exercise 15 Pandas-02

# Import Pandas module and numpy module

In [1]:
import pandas as pd
import numpy as np

# Read csv file
the file is in './data/earthquake.csv' and assign it to variable 'eq'

In [3]:
eq=pd.read_csv('./data/earthquake.csv')
eq.head(10)

,Year,Month,Day,Time UTC,Mag,Lat,Lon,Depth km,Region,IRIS ID,Timestamp
0,2019,2,11,3:59:47,2.0,59.8971,-152.7478,93.5,SOUTHERN ALASKA,11004556,1549857587
1,2019,2,11,3:36:08,1.1,33.5512,-116.9202,10.7,SOUTHERN CALIFORNIA,11004553,1549856168
2,2019,2,11,3:20:42,1.9,59.4979,-152.9018,73.5,SOUTHERN ALASKA,11004552,1549855242
3,2019,2,11,3:04:42,1.5,63.1436,-152.1082,4.2,CENTRAL ALASKA,11004550,1549854282
4,2019,2,11,2:41:44,2.7,59.6321,-146.3146,14.3,GULF OF ALASKA,11004548,1549852904
5,2019,2,11,2:35:25,4.2,-18.7592,169.3604,250.8,VANUATU ISLANDS,11004551,1549852525
6,2019,2,11,2:28:08,2.5,35.1262,-97.8705,5.0,OKLAHOMA,11004549,1549852088
7,2019,2,11,2:23:05,2.0,19.4032,-155.2403,2.3,HAWAII,11004547,1549851785
8,2019,2,11,1:51:55,2.7,66.3851,-157.3504,39.8,NORTHERN ALASKA,11004546,1549849915
9,2019,2,11,1:39:55,1.1,33.1690,-116.4932,17.7,SOUTHERN CALIFORNIA,11004544,1549849195

# Q1 Get earthquakes whose magnitude is larger than 5.0

In [4]:
eq=eq[eq['Mag']>5.0]

# Q2 Delete the column named "IRIS ID"

In [5]:
eq=eq.drop(columns=['IRIS ID'])
eq

,Year,Month,Day,Time UTC,Mag,Lat,Lon,Depth km,Region,Timestamp
14,2019,2,11,0:08:48,5.3,13.2099,-87.7116,192.9,HONDURAS,1549843728
87,2019,2,10,14:33:34,5.2,9.8247,126.3422,35.0,"MINDANAO, PHILIPPINES",1549809214
100,2019,2,10,13:27:09,5.1,-15.0989,-173.5017,10.0,TONGA ISLANDS,1549805229
120,2019,2,10,10:54:48,5.3,27.0748,55.5409,10.0,SOUTHERN IRAN,1549796088
162,2019,2,10,5:34:25,5.1,28.1830,129.5768,39.1,"RYUKYU ISLANDS, JAPAN",1549776865
177,2019,2,10,3:22:05,5.2,27.3621,96.4032,10.0,MYANMAR-INDIA BORDER REGION,1549768925
194,2019,2,10,2:05:01,5.2,0.2889,126.2773,44.1,NORTHERN MOLUCCA SEA,1549764301
227,2019,2,9,22:21:14,5.2,9.9298,126.3760,10.0,"MINDANAO, PHILIPPINES",1549750874
255,2019,2,9,19:23:08,5.1,-21.6680,-68.3854,121.6,CHILE-BOLIVIA BORDER REGION,1549740188
547,2019,2,8,12:45:39,5.1,9.8764,126.3908,10.0,"MINDANAO, PHILIPPINES",1549629939
562,2019,2,8,11:55:08,5.9,9.8311,126.5297,24.7,"MINDANAO, PHILIPPINES",1549626908
657,2019,2,8,3:11:05,5.4,-32.8313,57.1405,10.0,SOUTHWEST INDIAN RIDGE,1549595465
891,2019,2,7,10:03:08,5.4,2.2151,128.7647,33.0,"HALMAHERA, INDONESIA",1549533788
964,2019,2,7,4:15:29,5.7,1.5093,126.4563,35.0,NORTHERN MOLUCCA SEA,1549512929
992,2019,2,7,1:41:34,5.5,-8.4642,160.9592,65.9,SOLOMON ISLANDS,1549503694

# Q3 Show the 'Lat' of earthquake in 'SOLOMON ISLANDS'

In [6]:
eq[eq['Region'].isin(['SOLOMON ISLANDS'])].Lat

992   -8.4642
Name: Lat, dtype: float64

# Q4 Sort according to 'Mag' in decending order

In [7]:
eq.sort_values(by='Mag',ascending=False)

,Year,Month,Day,Time UTC,Mag,Lat,Lon,Depth km,Region,Timestamp
562,2019,2,8,11:55:08,5.9,9.8311,126.5297,24.7,"MINDANAO, PHILIPPINES",1549626908
964,2019,2,7,4:15:29,5.7,1.5093,126.4563,35.0,NORTHERN MOLUCCA SEA,1549512929
992,2019,2,7,1:41:34,5.5,-8.4642,160.9592,65.9,SOLOMON ISLANDS,1549503694
657,2019,2,8,3:11:05,5.4,-32.8313,57.1405,10.0,SOUTHWEST INDIAN RIDGE,1549595465
891,2019,2,7,10:03:08,5.4,2.2151,128.7647,33.0,"HALMAHERA, INDONESIA",1549533788
14,2019,2,11,0:08:48,5.3,13.2099,-87.7116,192.9,HONDURAS,1549843728
120,2019,2,10,10:54:48,5.3,27.0748,55.5409,10.0,SOUTHERN IRAN,1549796088
87,2019,2,10,14:33:34,5.2,9.8247,126.3422,35.0,"MINDANAO, PHILIPPINES",1549809214
177,2019,2,10,3:22:05,5.2,27.3621,96.4032,10.0,MYANMAR-INDIA BORDER REGION,1549768925
194,2019,2,10,2:05:01,5.2,0.2889,126.2773,44.1,NORTHERN MOLUCCA SEA,1549764301
227,2019,2,9,22:21:14,5.2,9.9298,126.3760,10.0,"MINDANAO, PHILIPPINES",1549750874
100,2019,2,10,13:27:09,5.1,-15.0989,-173.5017,10.0,TONGA ISLANDS,1549805229
162,2019,2,10,5:34:25,5.1,28.1830,129.5768,39.1,"RYUKYU ISLANDS, JAPAN",1549776865
255,2019,2,9,19:23:08,5.1,-21.6680,-68.3854,121.6,CHILE-BOLIVIA BORDER REGION,1549740188
547,2019,2,8,12:45:39,5.1,9.8764,126.3908,10.0,"MINDANAO, PHILIPPINES",1549629939

# Q5 Set all values in the column of 'Timestamp' to 0

In [8]:
eq['Timestamp']=0
eq

,Year,Month,Day,Time UTC,Mag,Lat,Lon,Depth km,Region,Timestamp
14,2019,2,11,0:08:48,5.3,13.2099,-87.7116,192.9,HONDURAS,0
87,2019,2,10,14:33:34,5.2,9.8247,126.3422,35.0,"MINDANAO, PHILIPPINES",0
100,2019,2,10,13:27:09,5.1,-15.0989,-173.5017,10.0,TONGA ISLANDS,0
120,2019,2,10,10:54:48,5.3,27.0748,55.5409,10.0,SOUTHERN IRAN,0
162,2019,2,10,5:34:25,5.1,28.1830,129.5768,39.1,"RYUKYU ISLANDS, JAPAN",0
177,2019,2,10,3:22:05,5.2,27.3621,96.4032,10.0,MYANMAR-INDIA BORDER REGION,0
194,2019,2,10,2:05:01,5.2,0.2889,126.2773,44.1,NORTHERN MOLUCCA SEA,0
227,2019,2,9,22:21:14,5.2,9.9298,126.3760,10.0,"MINDANAO, PHILIPPINES",0
255,2019,2,9,19:23:08,5.1,-21.6680,-68.3854,121.6,CHILE-BOLIVIA BORDER REGION,0
547,2019,2,8,12:45:39,5.1,9.8764,126.3908,10.0,"MINDANAO, PHILIPPINES",0
562,2019,2,8,11:55:08,5.9,9.8311,126.5297,24.7,"MINDANAO, PHILIPPINES",0
657,2019,2,8,3:11:05,5.4,-32.8313,57.1405,10.0,SOUTHWEST INDIAN RIDGE,0
891,2019,2,7,10:03:08,5.4,2.2151,128.7647,33.0,"HALMAHERA, INDONESIA",0
964,2019,2,7,4:15:29,5.7,1.5093,126.4563,35.0,NORTHERN MOLUCCA SEA,0
992,2019,2,7,1:41:34,5.5,-8.4642,160.9592,65.9,SOLOMON ISLANDS,0

# Q6 Delete the column named 'Timestamp'

In [9]:
eq=eq.drop(columns=['Timestamp'])
eq

,Year,Month,Day,Time UTC,Mag,Lat,Lon,Depth km,Region
14,2019,2,11,0:08:48,5.3,13.2099,-87.7116,192.9,HONDURAS
87,2019,2,10,14:33:34,5.2,9.8247,126.3422,35.0,"MINDANAO, PHILIPPINES"
100,2019,2,10,13:27:09,5.1,-15.0989,-173.5017,10.0,TONGA ISLANDS
120,2019,2,10,10:54:48,5.3,27.0748,55.5409,10.0,SOUTHERN IRAN
162,2019,2,10,5:34:25,5.1,28.1830,129.5768,39.1,"RYUKYU ISLANDS, JAPAN"
177,2019,2,10,3:22:05,5.2,27.3621,96.4032,10.0,MYANMAR-INDIA BORDER REGION
194,2019,2,10,2:05:01,5.2,0.2889,126.2773,44.1,NORTHERN MOLUCCA SEA
227,2019,2,9,22:21:14,5.2,9.9298,126.3760,10.0,"MINDANAO, PHILIPPINES"
255,2019,2,9,19:23:08,5.1,-21.6680,-68.3854,121.6,CHILE-BOLIVIA BORDER REGION
547,2019,2,8,12:45:39,5.1,9.8764,126.3908,10.0,"MINDANAO, PHILIPPINES"
562,2019,2,8,11:55:08,5.9,9.8311,126.5297,24.7,"MINDANAO, PHILIPPINES"
657,2019,2,8,3:11:05,5.4,-32.8313,57.1405,10.0,SOUTHWEST INDIAN RIDGE
891,2019,2,7,10:03:08,5.4,2.2151,128.7647,33.0,"HALMAHERA, INDONESIA"
964,2019,2,7,4:15:29,5.7,1.5093,126.4563,35.0,NORTHERN MOLUCCA SEA
992,2019,2,7,1:41:34,5.5,-8.4642,160.9592,65.9,SOLOMON ISLANDS

# Q7 Convert the unit of the depth of earthquakes to meters and add the data to the last column named 'Depth m'

In [10]:
eq['Depth m']=eq['Depth km']*1000.0

In [ ]:
eq